<div class="col-md-12">
  <h2>Write a Durable review</h2>
  <div class="col-md-8" style="border: 1px solid #F3EEEE;padding: 30px;">
		<%= render 'form', :review => @review, :product => @product %>
	</div>
	<div class="col-md-4"></div>
</div>
<style type="text/css">
  .revmar{
      margin-bottom: 94px !important;
  }
</style>
